Virtual Environment

venv/
.venv/

Database file

*.db
!app/address_book.db # Agar aapko database file bhi track karni hai toh is line ko uncomment karein,
# lekin aamtaur par iski zaroorat nahi hoti.

Byte-compiled / optimized / DLL files

pycache/
*.pyc

IDE files (optional)

.vscode/